@page
@model Spotter.Pages.Spotted.DeleteModel

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Plane</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Plane.Make)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Plane.Make)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Plane.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Plane.Model)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Plane.Registration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Plane.Registration)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Plane.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Plane.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Plane.SeenDateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Plane.SeenDateTime)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Plane.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
